body {
	background-color: rgb(230,230,230);	
}

h3 {
	text-align: center;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: rgb(170,170,170);
	font-size: 70px;
}

.toDoContainer {
	width: 30%;
	background-color: white;
	margin-top: -50px;
	margin-left: auto;
	margin-right: auto;	
}

.toDoItem {
	width: 100%;
	line-height: 70px;
	background-color: white;
	font-size: 30px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align: center;	
	border: 1px solid #000000;	
	margin-top: -5px;
	color: #999999;
}
