body {
	background-color: rgb(230,230,230);	
}

h3 {
	text-align: center;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: rgb(170,170,170);
	font-size: 70px;
}

.toDoContainer {
	width: 500px;
	background-color: white;
	margin-top: -50px;
	margin-left: auto;
	margin-right: auto;	
}

.chkBox {
	float: left;
	width: 10%;
	height: 70px;
	vertical-align: middle;
	clear: left;
}


.toDoItem {
	height: 70px;
	width: 82%; 
	font-size: 30px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding-left: 5%;
	background-color: white;				
	color: #999999;
	clear: right;
	border: 0px;
	border-bottom: 1px dashed; 
	border-left: 1px dashed;	
}

.topBar {
	width: 100%;
	height: 10px;
	background-color: #ffee44;
}

.footer {

}