body {
	background-color: rgb(230,230,230);	
}

h3 {
	text-align: center;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: rgb(170,170,170);
	font-size: 70px;
}

.toDoContainer {
	overflow: hidden;	
	width: 500px;
	margin-top: -50px;
	background-color: #ffffff;
	margin-left: auto;
	margin-right: auto;	
}

.chkBox {
	float: left;	
	width: 10%;
	height: 70px;
	vertical-align: middle;	
	clear: left;	
}

.toDoItem {
	float: left;
	word-break: break-word;
	border: 0px;
	border-left: 1px dashed #000000; 
	width: 80%;
	font-size: 30px;
	padding: 15px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;	
	background-color: white;
	color: #999999;	
}

.toDoList {
	overflow: hidden;
	border-bottom: 1px dashed #000000;
}

.topBar {
	width: 100%;
	height: 10px;
	background-color: #ffee44;
}

.footer {

}